<section class="section-productos">
<h1>Nuestros Productos</h1>


<ul>
    {{#each products}}
    <hr>
        <Strong><li>Title: {{this.title}}</li></Strong>
        <li>Description: {{this.description}}</li>
        <li>Precio: ${{this.price}}</li>
        <li>Categoria: {{this.category}}</li>
        <button>Agregar al carrito</button>
    {{/each}}
</ul>


{{#if hasPrevPage}}
    <a href='/?limit={{limit}}&page={{prevPage}}&sort={{currentSort}}&category={{category}}'>Anterior</a>
{{/if}}

{{#if hasNextPage}}
    <a href="/?limit={{limit}}&page={{nextPage}}&sort={{currentSort}}&category={{category}}">Siguiente</a>
{{/if}}

<div class="div-parrafo">
<p class="parrafo">Pagina {{currentPage}} de {{totalPages}}</p>
</div>
</section>
