<h1>Nuestros Productos</h1>

<ul>
    {{#each products}}
        <Strong><li>Title: {{this.title}}</li></Strong>
        <li>Description: {{this.description}}</li>
    {{/each}}
</ul>

{{#if hasPrevPage}}
    <a href='/inicio?page={{prevPage}}'>Anterior</a>
{{/if}}

{{#if hasNextPage}}
    <a href="/inicio?page={{nextPage}}">Siguiente</a>
{{/if}}


<p>Pagina {{currentPage}} de {{totalPages}}</p>